body {
  background-color: #F3F7FF;
}

footer {
  margin-top: 90px;
  font-size: 11pt;
  color: gray;
  text-align: center;
}

footer p {
  margin: 0;
  line-height: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a:visited {
  color: blue;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}

.caption {
  font-size: 11pt;
  color: #2A324B;
  line-height: 11pt;
  margin: 0;
  font-style: italic;
}

a {
  text-decoration: none;
}

header {
   display: block;
   width: 100%;
   overflow: hidden;
}

header #header-content {
   margin: 0 auto;
   max-width: 960px;
   width: 100%;
   padding: 1.45rem 1.0875rem;
}

header #home-icon, header #title {
   display: inline-block;
}

header #home-icon {
   display: inline-block;
   float: left;
   text-align: left;
   width: 33.33333%;
   height: 30px;
}

header #home-icon img {
   width: 20px;
}

header #header-title {
   float: left;
   text-align: left;
   width: 33.33333%;
}

header #header-title p {
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
}

.inline-stack * {
  display: inline-block;
  padding: 0 15px;
  margin: 5px 0;
}

.social-icons svg {
  fill: #4d5ca0;
}

/*==============*/
/*=== Guides ===*/
/*==============*/

.article h1 {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   text-transform: uppercase;
   padding: 20px 0;
}

.article h2 {
   font-size: 16pt;
}

.lk-green { color: green; }
.lk-green:visited { color: green; }

.lk-blue { color: #090C9B }
.lk-blue:visited { color: #090C9B }
