.project {
  margin: 0;
}
.project .project_title h4 {
  display: inline-block;
  font-size: 14pt;
  line-height: 0;
  margin-right: 7px;
  margin-bottom: 0;
}

.project .project_title .social_icon {
  display: inline-block;
  width: 17px;
  margin: 0 7px;
  vertical-align: middle;
}

.project .project_title .social_icon svg {
  fill: lightGray;
}

.project .project_description {
  font-size: 11pt;
  line-height: 14pt;
}
